doctype html
html
  head
    title Choisissez la musique au 43
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="canonical" href="https://musique.au43.fr/")
    meta(property="og:locale" content="fr_FR")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Choisissez la musique au 43 (rue de Dunkerque)")
    meta(property="og:description" content="Au 43, c'est le blog des développeurs de la France insoumise. Et vous pouvez choisir ce qu'on écoute en travaillant !")
    meta(property="og:url" content="https://musique.au43.fr/")
    meta(property="og:site_name" content="Au 43")
    meta(property="og:image" content="https://au43.fr/app/uploads/2017/09/capture.jpg")
    meta(property="og:image:secure_url" content="https://au43.fr/app/uploads/2017/09/capture.jpg")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="Au 43, c'est le blog des développeurs de la France insoumise. Et vous pouvez choisir ce qu'on écoute en travaillant !")
    meta(name="twitter:title" content="Choisissez la musique au 43 (rue de Dunkerque)")
    meta(name="twitter:image" content="https://au43.fr/app/uploads/2017/09/capture.jpg")
  body
    .container
      block content
