body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f1f1f1;
}

a {
  color: #00B7FF;
}

.container {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  margin: auto;
  padding: 10%;
}
